<mat-form-field appearance="outline">
  <mat-label>Senha</mat-label>
  <mat-icon matPrefix>lock_outline</mat-icon>
  <input
    matInput
    [type]="hidePassword ? 'password' : 'text'"
    [formControl]="control()"
    [autocomplete]="autocomplete()"
  />
  <button
    mat-icon-button
    matSuffix
    type="button"
    (click)="hidePassword = !hidePassword"
    [attr.aria-label]="hidePassword ? 'Mostrar senha' : 'Ocultar senha'"
  >
    <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
  </button>
  @if (control().touched && control().hasError('required')) {
    <mat-error>Senha é obrigatória</mat-error>
  }
  @if (minLength() !== undefined && control().touched && control().hasError('minlength')) {
    <mat-error>Mínimo de {{ minLength() }} caracteres</mat-error>
  }
</mat-form-field>
